<nav id="primaryNav" class="fixed inset-x-0 top-0 z-50 bg-sky-700/15 backdrop-blur-sm text-sky-50">
  <div class="mx-auto px-4">
    <div class="relative select-none mx-auto px-3 py-0 flex items-center gap-4" oncontextmenu="return false">
      <img src="{{ '/img/JF.jpg' | relative_url }}" alt="JF" class="h-12 w-auto rounded pointer-events-none" draggable="false"
        style="-webkit-user-drag:none;-webkit-touch-callout:none;user-select:none;"/>
      <div class="px-1 py-0.5 text-white gap-4">
        <h1 class="text-sky-800 text-xl sm:text-2xl font-bold"><font face="HGP明朝B">橘浦漁業協同組合</font></h1>
        <p class="sm:css-size-small text-shadow-strong">Tachibanoura Fisheries Cooperative Association</p>
      </div>
        <ul class="hidden sm:flex flex-wrap gap-3 px-3 py-0.5 text-shadow-strong">
          <li><a href="{{ '/' | relative_url }}" class="px-3 py-2 rounded bg-white text-sky-700 font-semibold hover:bg-sky-200">トップ</a></li>
          <li><a href="{{ '/sub/gyogyo.html' | relative_url }}" class="px-3 py-2 rounded bg-sky-400 hover:bg-sky-600">橘浦の漁業</a></li>
          <li><a href="{{ '/sub/about.html' | relative_url }}" class="px-3 py-2 rounded bg-sky-400 hover:bg-sky-600">組合の概要</a></li>
          <li><a href="{{ '/sub/katsudo.html' | relative_url }}" class="px-3 py-2 rounded bg-sky-400 hover:bg-sky-600">組合の活動</a></li>
          <li><a href="{{ '/#enjoy' | relative_url }}" class="px-3 py-2 rounded bg-sky-400 hover:bg-sky-600">橘浦で楽しむ</a></li>
          <li><a href="{{ '/blog/' | relative_url }}" class="px-3 py-2 rounded bg-sky-400 hover:bg-sky-600">組合長のブログ</a></li>
          <li><a href="{{ '/sub/view.html' | relative_url }}" class="px-3 py-2 rounded bg-sky-600 hover:bg-white hover:text-slate-800">橘浦の風景</a></li>
          <li><a href="{{ '/#news' | relative_url }}" class="px-3 py-2 rounded bg-white text-sky-700 font-semibold hover:bg-sky-200">お知らせ</a></li>
        </ul>
    </div>
  </div>
</nav>
<div class="h-14 sm:h-16"></div>
