
<!doctype html>
<html lang="ja">
  {% include head.html %}
  <body class="min-h-screen flex flex-col bg-slate-50 text-slate-800">
    {% include backimage.html %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>  
  <script type="text/javascript">
    document.getElementById("pp-date").innerHTML = showDay(); function showDay() {var now = new Date(); var day = now.toLocaleDateString('ja-JP-u-ca-japanese', {dateStyle: 'long'}); return day;}
  </script>
  <script type="text/javascript">
    document.getElementById("pp-year").innerHTML = showYear(); function showYear() {var now = new Date(); var year = now.getFullYear(); return year;}
  </script>
</html>
